@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header a, nav{
    padding: 10px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    text-align: center;
    
}

.logo img{
    max-height: 100px;   
}

.container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

ul {
  list-style-type: none;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1{
    text-align: center;
    font-size: 50px;
}
@media (max-width: 900px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    header a, nav{
    font-size: 25px;
    }

    h1{
    font-size: 25px;
    }
    
}

@media (max-width: 450px) {
    .container{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    header a, nav{
    font-size: 15px;
    }

    h1{
    font-size: 25px;
    }
    
}