@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

#navbar{
    position: sticky;
    top: 0;
    height: 60px;
    background-color: rgb(30, 30, 30);
    z-index: 100;
    display: flex;
    justify-content: end;
}

header nav a:link{
    text-decoration: none;
}

header nav a:visited{
    text-decoration: none;
}

header nav a:hover{
    background: linear-gradient(to bottom, #EBB510, #EB5410);
    
}

h1{
    text-align: center;
}

header nav a{
    padding: 15px;
    font-size: 25px;
    color: rgb(240, 240, 240);
    font-family: "Joti One", serif;

}

main{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    scroll-behavior: smooth;
    transform-style: preserve-3d;
}
.aboutMe::before{
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../Week2/exercise/parallax/assets/114110-OOG8HU-567.jpg);
    background-size: cover;
    transform: translateZ(-2px) scale(4);
    filter:blur(2px);
}

.aboutMe::after{
    z-index: 2;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../Week2/exercise/parallax/assets/front.png) bottom;
    background-size: cover;
    transform: translateZ(-1px) scale(2.5);
}

.aboutMe {
    z-index: 0;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 25px;
    box-shadow: 0px 10px 20px 0.5px darkgray;
    perspective: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: inherit;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.aboutMe::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.aboutMe img {
    z-index: 1;
    margin: 30px;
    width: 30%;
    border-radius: 50%;
    box-shadow: 0px 10px 20px 0.5px #eb2d107c;
    transform: scale(1) translateZ(-0.5) translate(33%, 10%);
}

.aboutMe .description{
    z-index: 3;
    text-align: justify;
    text-justify: inter-word;
    margin: 30px;
    backdrop-filter: blur(10px);
    text-shadow: 0px 0px 5px 1.5px #ffffff;
    border-radius: 15px;
    padding: 25px;
    top: 10%;
    transform: translateZ(-0.5) translate(53%, 10%);
}

.projects{
    margin: 30px;
    background: linear-gradient(45deg, #EBB510, #EB5410);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0px 10px 20px 0.5px darkgray;
}

.projects h2{
    font-size: 50px;
    text-align: center;
    width: 100%;
}
.subtitle{
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 0;
}
.projects summary {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
}

.projects table{
    border-collapse: collapse;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}


tr{
    border: 1px solid #EB9B10;
    font-size: 25px;
    background-color: #EB5410
}

td{
    border: 1px solid #EB9B10;
    font-size: 20px;
    text-align: center;
    background-color: #EB7B11;
}

.projects h4{
    margin: 10px;
    font-size: 25px;
}

ul{
    margin: 10px;
}

li{
    list-style-type: none;
    font-size: 25px;
}

.projects aside{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}
.artstation{
    border-radius: 15px;
    width: 45%;
    margin: 10px;
    box-shadow: 0px 10px 20px 0.5px #eb2d107c;
}

.contact{
    margin: 30px;
    background: linear-gradient(135deg, #EBB510, #EB5410);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0px 10px 20px 0.5px darkgray;
}
.contact h2{
    font-size: 50px;
    width: 100%;
    margin: 30px;
    text-align: center;
}

.contact aside{
    width: 30%;
    margin: 15px;
}

.contact form{
    width: 60%;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.contact form button{
    width: 20%;
    height: 20%;
    font-size: 25px;
    border: none;
    background-color: #eb9b109f;
    border-radius: 10px;
}

.info{
    width: 100%;
}

.fillable{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;

}

.fillable label{
    font-size: 25px;
    width: 25%;
    border-radius: 10px;
}

.fillable input, .fillable textarea{
    font-size: 25px;
    border: none;
    background-color: #ebb41057;
    width: 75%;
    border-radius: 10px;

}

.contact aside p{
    vertical-align: top;
    font-size: 25px;
}

footer{
    padding: 0;
    margin: 0;
    background-color: white;
    size: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;

}
footer a{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 20%;
}

@media only screen and (max-width: 1500px) {
    .aboutMe{
        flex-wrap: wrap;
        font-size: 25px;
    }
    .aboutMe img{
        width: 80%;    
    }

    .projects{
        flex-direction: column;
        justify-content: center ;
        align-content: center;
    }

    .projects summary{
        width: 90%;
    }

    .projects aside{
        width: 90%;
    }

    .contact aside{
        width: 90%;
    }

    .fillable label{
        font-size: 25px;
        width: 90%;
        border-radius: 10px;
    }
    
    .fillable input, .fillable textarea{
        font-size: 25px;
        border: none;
        background-color: #ebb41057;
        width: 90%;
        border-radius: 10px;
    
    }
    .contact form button{
        width: 30%;
        height: 30%;
        font-size: 20px;
        border: none;
        background-color: #eb9b109f;
        border-radius: 10px;
    }
    
  }
  @media only screen and (max-width: 900px) {
    .artstation{
        border-radius: 15px;
        width: 95%;
        margin: 10px;
    }
  }
